


.navbar {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bdbdbd;
    padding: 15px 30px;
    position: relative;
}

.extended .search-box{
    position: absolute;
    left: 250px !important;
}

.textHover:hover {
    background: rgb(0, 0, 0, .1) !important;
}

.search-box svg {
    fill: #bdbdbd;
}